// Place all the styles related to the Signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bricks {
  width: 100%;
}
.bricks ul {
  width: 220px !important;
  margin: auto !important;
}
.bricks ul > li {
  width: 100% !important;
}
//////// signup_profile

.css-big-img{
  width: 100%;
  height: 100%;
}